@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-feature-settings: "rlig" 1, "calt" 1;
}

a {
  @apply text-emerald-600 hover:text-emerald-700;
}

button:disabled {
  @apply opacity-50 cursor-not-allowed;
}
